/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 50px;
}
